.forPatientSearch{
    margin-top: 80px;
}

.forSearchBtn{
    
    margin-right: 10px;
    float: right;
    margin-top: -40px;
}

.selection-cell-header{
    display: none;
}

.selection-cell{
    display: none;
}
