.forLabel {
  margin-left: 50px;
}

.inputBckColor {
  background-color: #e6e6e6 !important;
}

.login-input-label-two {
  position: relative;
  top: -0.15vw;

  width: 100%;
  color: #706b6b;
  transition: 0.2s all;
  cursor: text;
  padding-left: 15px;
}

.input-field-two {
  margin-top: 30px;
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.routineBtn {
  margin-top: 80px;
  margin-left: -50px !important;
}

.forRdobtn {
  font-size: 18px !important;
  margin-top: -8px;
}

.forNotification {
  margin-top: 30px;
}

.forNotificationTo {
  margin-top: -30px;
}

.rotuine-dropDown {
  margin-left: 5% !important;
  padding-right: 10% !important;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: rgb(104, 97, 97) !important;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="time"]:focus::-webkit-datetime-edit {
  color: rgb(104, 97, 97) !important;
}
